@{
  Layout = "_Layout";
}

@using WeekFiveTemplate.Models;
@model IEnumerable<WeekFiveTemplate.Models.TemplateItem>

<h1>Items for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (TemplateItem item in Model)
    {
      <li>@Html.ActionLink($"{item.SomeProperty}", "Details", new { id = item.TemplateItemId })</li>
    }
  </ul>
} 
else
{
  <h3>No items have been added yet!</h3>
}

<p>@Html.ActionLink("Add new item", "Create")</p>